body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/img/fondo.webp'); /* Asegúrate de que la ruta de la imagen sea correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff; /* Este color es de respaldo en caso de que la imagen no se cargue */
}

.formulario {
    width: 300px;
    padding: 20px;
    background: rgba(0, 0,0.8); /* Fondo semi-transparente para resaltar el formulario */
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #aaa;
}

.formulario h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    opacity: 0.7;
}

.formulario input[type=text],
.formulario input[type=email],
.formulario input[type=password],
.formulario input[type=button] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.formulario input[type=button] {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.formulario input[type=button]:hover {
    background-color: #555;
    color: #fff;
}

.iniciarSesion {
    text-align: center;
    margin-top: 10px;
}

.iniciarSesion a {
    color: #fff;
    text-decoration: none;
}

.iniciarSesion a:hover {
    text-decoration: underline;
}
