body{
    background-image: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.img_logo{
    height: 100px;
    width: 100px;
}

.centrar_card{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}